body{
    background-color: royalblue;
}
.doni{
    text-align: center;
}
.doni2{
    margin-left: 500px;
    margin-bottom: 40px;
    background-color: red;
}
.doni3{
    text-align: center;
}
.doni4{
    text-align: center;
}
